/* Section styling */
.sectionWrapper {
	padding: 3rem 6rem 3rem 6rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
@media (max-width: 640px) {
	.sectionWrapper {
		padding: 1.5rem 2rem 1.5rem 2rem;
		gap: 1rem;
	}
}

.grayBackground {
	background-color: #f9f9f9;
}

.blueBackground {
	background-color: #353a5d;
}

/* .gaps {
	display: flex;
	flex-direction: column;
	gap: 2rem;
} */
/* @media (max-width: 640px) {
	.gaps {
		gap: 1rem;
	}
} */
